# Foundations of Computer Science project

Libraries import

In [170]:
import os                  
import time
import pandas as pd        
import numpy as np         
import re

Dataset import

In [171]:
play_store_ds = pd.read_csv("/Users/lorenzo/Downloads/googleplaystore.csv")
play_store_reviews_ds = pd.read_csv("/Users/lorenzo/Downloads/googleplaystore_user_reviews.csv")

play_store_ds.head()

play_store_ds.loc[[10472]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,NaN,1.9,19,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up

In [172]:
play_store_ds = play_store_ds.drop(10472)

## Exercise 1 

Convert the app sizes to a number.

In [173]:
play_store_ds['Size'].value_counts()

Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
15M                    184
17M                    160
19M                    154
26M                    149
16M                    149
25M                    143
20M                    139
21M                    138
10M                    136
24M                    136
18M                    133
23M                    117
22M                    114
29M                    103
27M                     97
28M                     95
30M                     84
33M                     79
3.3M                    77
37M                     76
35M                     72
31M                     70
2.9M                    69
2.5M                    68
2.3M                    68
                      ...
221k                     1
411k                     1
220k                     1
613k                     1
749k                     1
695k                     1
903k                     1
837k                     1
696k                     1
756k                     1
116k                     1
259k                     1
554k                     1
243k                     1
992k                     1
444k                     1
78k                      1
500k                     1
308k                     1
11k                      1
20k                      1
460k                     1
754k                     1
916k                     1
881k                     1
720k                     1
562k                     1
716k                     1
540k                     1
782k                     1
Name: Size, Length: 461, dtype: int64

In [174]:
reg_exp = re.compile('(?P<digits>\d+\.{0,1}\d*)(?P<file_size>\w*)')

def convert_file_size(file_size):
    groups = reg_exp.search(file_size)
    if groups:
        file_size = groups.group('file_size')
        file_size_value = 0
        if file_size == 'G': file_size_value = 1000000000
        elif file_size == 'M': file_size_value = 1000000
        elif file_size == 'k': file_size_value = 1000
        else: raise ValueError("File size not recognized")
        digits = float(groups.group('digits'))
        return int(digits*file_size_value)
    else:
        return np.nan
    
play_store_ds['Size'] = play_store_ds['Size'].apply(convert_file_size)

play_store_ds.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

## Exercise 2 

Convert the number of installs to a number

In [175]:
play_store_ds['Installs'] = [re.sub('\\D', '', install) for install in play_store_ds['Installs']]
play_store_ds.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

## Exercise 3 

Transform “Varies with device” into a missing value

This requirement has already been satisfied by exercise 1

In [176]:
play_store_ds['Size'].value_counts()

11000000.0    198
12000000.0    196
14000000.0    194
13000000.0    191
15000000.0    184
17000000.0    160
19000000.0    154
26000000.0    149
16000000.0    149
10000000.0    146
25000000.0    143
20000000.0    139
21000000.0    138
24000000.0    136
18000000.0    133
23000000.0    117
22000000.0    114
29000000.0    103
27000000.0     97
28000000.0     95
30000000.0     84
33000000.0     79
3300000.0      77
37000000.0     76
35000000.0     72
31000000.0     70
2900000.0      69
2300000.0      68
2500000.0      68
2800000.0      65
             ...
82000.0         1
569000.0        1
454000.0        1
695000.0        1
613000.0        1
716000.0        1
585000.0        1
93000.0         1
500000.0        1
220000.0        1
924000.0        1
728000.0        1
67000.0         1
421000.0        1
629000.0        1
460000.0        1
280000.0        1
749000.0        1
190000.0        1
309000.0        1
253000.0        1
913000.0        1
511000.0        1
809000.0        1
940000.0        1
544000.0        1
429000.0        1
97000.0         1
412000.0        1
811000.0        1
Name: Size, Length: 459, dtype: int64

## Exercise 4 

Convert Current Ver and Android Ver into dotted number (e.g. 4.0.3 or 4.2)

In [177]:
version_reg_exp = re.compile('(?P<version>[\d+\.]*\d)') 

def convert_ver(version):
    if pd.isnull(version):
        return np.nan
    versions = version_reg_exp.search(version)
    if versions is None:
        return np.nan
    else:
        return versions.group('version')
    
play_store_ds['Current Ver'] = play_store_ds['Current Ver'].apply(convert_ver)
play_store_ds.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",NaN,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [178]:
play_store_ds['Android Ver'].value_counts()

4.1 and up            2451
4.0.3 and up          1501
4.0 and up            1375
Varies with device    1362
4.4 and up             980
2.3 and up             652
5.0 and up             601
4.2 and up             394
2.3.3 and up           281
2.2 and up             244
4.3 and up             243
3.0 and up             241
2.1 and up             134
1.6 and up             116
6.0 and up              60
7.0 and up              42
3.2 and up              36
2.0 and up              32
5.1 and up              24
1.5 and up              20
4.4W and up             12
3.1 and up              10
2.0.1 and up             7
8.0 and up               6
7.1 and up               3
4.0.3 - 7.1.1            2
1.0 and up               2
5.0 - 8.0                2
2.2 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 7.1.1              1
7.0 - 7.1.1              1
5.0 - 6.0                1
Name: Android Ver, dtype: int64

We then convert Android Ver into dotted number

In [179]:
first_supported_version = re.compile('^(?P<first>\d+\.\d+\.{0,1}\d*)') 
last_supported_version = re.compile('(?P<last>\d+\.\d+\.{0,1}\d*)$')


def first_supp_version(version):
    if pd.isnull(version):
        return np.nan
    searched = first_supported_version.search(version)
    if searched is  None:
        return np.nan
    else:
        return searched.group('first')
    
def last_supp_version(version):
    if pd.isnull(version):
        return np.nan
    searched = last_supported_version.search(version)
    if searched is None:
        return 9
    else:
        return searched.group('last')

In [180]:
play_store_ds['FirstSupportedVersion'] = play_store_ds['Android Ver'].apply(first_supp_version)
play_store_ds['LastSupportedVersion'] = play_store_ds['Android Ver'].apply(last_supp_version)
play_store_ds[['App','Android Ver','FirstSupportedVersion','LastSupportedVersion']].tail()

,App,Android Ver,FirstSupportedVersion,LastSupportedVersion
10836,Sya9a Maroc - FR,4.1 and up,4.1,9
10837,Fr. Mike Schmitz Audio Teachings,4.1 and up,4.1,9
10838,Parkinson Exercices FR,2.2 and up,2.2,9
10839,The SCP Foundation DB fr nn5n,Varies with device,NaN,9
10840,iHoroscope - 2018 Daily Horoscope & Astrology,Varies with device,NaN,9

## Exercise 5 
Remove the duplicates

In [181]:
print('Duplicated rows: ', play_store_ds[play_store_ds.duplicated()].shape[0])

Duplicated rows:  483

In [182]:
print('Duplicated Apps: ', play_store_ds[play_store_ds.duplicated('App')].shape[0])

Duplicated Apps:  1181

We keep only the row with the highest number of reviews for each duplicated app.

In [183]:
play_store_ds = play_store_ds.sort_values('Reviews',ascending=False).drop_duplicates('App',keep='first').reset_index(drop=True)

In [184]:
print('Duplicated Apps: ',play_store_ds[play_store_ds.duplicated('App')].shape[0])
play_store_ds.head(2)

Duplicated Apps:  0

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,FirstSupportedVersion,LastSupportedVersion
0,Facebook,SOCIAL,4.1,78158306,NaN,1000000000,Free,0,Teen,Social,"August 3, 2018",NaN,Varies with device,NaN,9
1,WhatsApp Messenger,COMMUNICATION,4.4,69119316,NaN,1000000000,Free,0,Everyone,Communication,"August 3, 2018",NaN,Varies with device,NaN,9

## Exercise 6
For each category, compute the number of apps

In [185]:
play_store_ds['Category'].value_counts().sort_values().head()

BEAUTY            53
COMICS            56
PARENTING         60
ART_AND_DESIGN    61
EVENTS            64
Name: Category, dtype: int64

## Exercise 7
For each category, compute the average rating

In [186]:
play_store_ds.groupby('Category')[['Rating']].mean().sort_values(by = 'Rating', ascending = False).head()

                       Rating
Category
EVENTS               4.435556
ART_AND_DESIGN       4.359322
EDUCATION            4.354717
BOOKS_AND_REFERENCE  4.344970
PERSONALIZATION      4.332215

## Exercise 8
Create two dataframes: one for the genres and one bridging apps and genres. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

In [187]:
# play_store_ds.drop(7434)
# play_store_ds.drop(10472)
#play_store_ds = play_store_ds.drop(7434)

In [188]:
play_store_ds['SplitGenres'] = [ g.split(';') for g in play_store_ds['Genres']]
genres = play_store_ds.SplitGenres.apply(pd.Series) #genres dataframe
genres = genres.rename(columns = {0:'First_genre', 1:'Second_genre'})

In [189]:
apps = play_store_ds['App']

bridgde_ds = pd.merge(genres, apps.to_frame(), left_index = True, right_index = True).melt(id_vars = ['App'], value_name = "First_genre").drop("variable", axis = 1).dropna()
bridgde_ds.head()

                                        App    First_genre
0                                  Facebook         Social
1                        WhatsApp Messenger  Communication
2                                 Instagram         Social
3  Messenger – Text and Video Chat for Free  Communication
4                            Clash of Clans       Strategy

In [190]:
bridgde_ds[bridgde_ds['App'] == 'Pixel Draw - Number Art Coloring Book']

                                         App   First_genre
4831   Pixel Draw - Number Art Coloring Book  Art & Design
14490  Pixel Draw - Number Art Coloring Book    Creativity

In [191]:
bridgde_ds.head()
play_store_ds['Genres'].head()

0           Social
1    Communication
2           Social
3    Communication
4         Strategy
Name: Genres, dtype: object

## Exercise 9 
For each genre, create a new column of the original dataframe. The new columns must have boolean values (True if the app has a given genre)

In [192]:
# play_store_ds = play_store_ds.drop(7434)

In [193]:
play_store_ds.loc[0]

App                                Facebook
Category                             SOCIAL
Rating                                  4.1
Reviews                            78158306
Size                                    NaN
Installs                         1000000000
Type                                   Free
Price                                     0
Content Rating                         Teen
Genres                               Social
Last Updated                 August 3, 2018
Current Ver                             NaN
Android Ver              Varies with device
FirstSupportedVersion                   NaN
LastSupportedVersion                      9
SplitGenres                        [Social]
Name: 0, dtype: object

In [194]:
def edit_genre(genres, genres_row):
    if genres is np.nan:
        return genres_row
    for genre in genres.split(';'):
        genres_row[genre]=True
    return genres_row

def get_genres():
    genres = []
    for genre in play_store_ds['Genres']:
        if genre is not np.nan:
            for gen in genre.split(';'):
                if gen not in genres: 
                    genres.append(gen)
    return genres

def add_columns(genres, play_store_ds):
    for gen in genres:
        play_store_ds[gen] = False
    return play_store_ds

In [195]:
%%time
genres = get_genres()
play_store_ds = add_columns(genres, play_store_ds)
play_store_ds = play_store_ds.apply(lambda x: edit_genre(x['Genres'], x), axis = 1)

CPU times: user 2.18 s, sys: 52.1 ms, total: 2.24 s
Wall time: 2.28 s

## Exercise 10
For each genre, compute the average rating. What is the genre with highest average?

In [196]:
rating_ds = bridgde_ds.merge(play_store_ds, on = 'App')
rating_ds[['App','Genres','First_genre']].head()

                                        App         Genres    First_genre
0                                  Facebook         Social         Social
1                        WhatsApp Messenger  Communication  Communication
2                                 Instagram         Social         Social
3  Messenger – Text and Video Chat for Free  Communication  Communication
4                            Clash of Clans       Strategy       Strategy

In [197]:
rating_ds.groupby('First_genre')[['Rating']].mean().sort_values(by = 'Rating', ascending = False).head(3)

               Rating
First_genre
Events       4.435556
Puzzle       4.370732
Brain Games  4.358065

The genre with the highest average rating is returned through the idxmax() function

In [198]:
rating_ds.groupby('First_genre')['Rating'].mean().idxmax()

'Events'

In [199]:
rating_ds.groupby('First_genre')['Rating'].mean().max()

4.435555555555556

## Exercise 11
For each app, compute the approximate income, obtained as the product of the number of installations and price.

Trasforming price to an int column

In [200]:
play_store_ds['IntPrice'] = [re.sub('\\D','', price) for price in play_store_ds['Price']]
play_store_ds['IntPrice'] = play_store_ds['IntPrice'].apply(int)
play_store_ds['Installs'] = play_store_ds['Installs'].apply(int)

In [201]:
play_store_ds['Income'] = play_store_ds['IntPrice'] * play_store_ds['Installs']
play_store_ds[['App', 'Income', 'Installs', 'IntPrice', 'Price']].sort_values(by = 'Income', ascending = False).head(3)

                    App      Income  Installs  IntPrice    Price
172           Minecraft  6990000000  10000000       699    $6.99
3986          I am rich  3999900000    100000     39999  $399.99
4441  I Am Rich Premium  1999950000     50000     39999  $399.99

## Exercise 12 
For each app, compute its minimum and maximum Sentiment_polarity

In [202]:
play_store_reviews_ds.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

We compute the Min and Max Sentiment polarity for each app, exploiting a groupby on apps

In [203]:
min_sentiment_polarity = pd.DataFrame(play_store_reviews_ds.groupby('App')['Sentiment_Polarity'].min())

In [204]:
max_sentiment_polarity = pd.DataFrame(play_store_reviews_ds.groupby('App')['Sentiment_Polarity'].max())